
.row-sequences{
  display: flex;
  position: absolute;
  bottom: 19vw;
  height: calc(100% - 19vw);
  width: 100%;
  left: 0;
  right: 0;
  // overflow: hidden;
  margin: auto;
  border-bottom: 20px solid rgba(0,0,0,0.1);
  margin-bottom: 5px;
  padding-bottom: 5px;
	> .sequence { //sequence
		position: absolute;
		transition: all .1s;
		width: 20vw;
    display: flex;
    flex-direction: column-reverse;
    box-sizing:border-box; 
  	padding: 0.5%; 
    border-radius: 5px;
		left: 0;
		animation-name: showNewSequence, animationToGoAway;
		// Questi valori vengono assegnati lato template 
		//animation-duration: .5s; //la seconda verrà definita via js;
		//animation-delay: 0s; //la seconda verrà definita via js;
		bottom: 0;		
		&.position-2{
			left: 20vw;
		}
		&.position-3{
			left:40vw;
		}
		&.position-4{
			left:60vw;
		}
		&.position-5{
			left:80vw;
		}
    &.selected{
    	background-color:rgba(0,0,0,.1); 
    	padding: 2%; 
    	.color{
				// transform:rotate(45deg);
    	}
			.mouth{
		    background: url(../assets/images/kipli/mouth_2.png) no-repeat;
		    background-size: cover;
		    height: 47%;
		    bottom: -11%;
			}
    }
	}
	.color{
		transition: padding .2s,transform .2s;
    width: 100%;
    position: relative;
    height: 0;
    margin-top: 5px;
    padding-bottom: 100%;
    border-radius: 10%;
		//  &.selected{
		// i{
		// 	animation : checkAnimationColor cubic-bezier(0.3, 1.44, 0.66, 0.95) .7s forwards;
		// }
		//  }
		//  i{
		//  	// transition: all .5s;
		//  	top:50%;
		//  	margin:auto;
		//  	color:rgba(255,255,255,0.8);
		//  	position: absolute;
		//  	right: -50%;
		//   font-size: 22px;
		//  	transform: translate(50%,-50%); 
		//  }
		&:after{
			content:" ";
			display: block;
			position: absolute;
			top:0;
			bottom:0;
			left: 0;
			right: 0;
	    border-radius: 10%;
	    z-index: 1;
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,.3) 130%); 
		}
	  .mouth{
	    z-index: 2;
			position: absolute;
			left: 8%;
			bottom: -5%;
			background: url(../assets/images/kipli/mouth_1.png) no-repeat;
			width: 70%;
			height: 38%;
			background-size: cover;
			transition: all .3s;
	   }
	   .face{
	    z-index: 2;
			position: absolute;
			transition: all .3s;
			left: -1%;
			top: -4%;
			background: url(../assets/images/kipli/face_1.png) no-repeat;
			width: 111%;
			background-size: cover;
			height: 80%;
		}
		&.selected{
			.face{
		    background: url(../assets/images/kipli/face_2.png) no-repeat;
		    background-size: cover;
		    width: 105%;
		    top: -5%;
		    height: 71%;
			}
			.mouth{
		    background: url(../assets/images/kipli/mouth_3.png) no-repeat;
		    background-size: cover;
		    height: 64%;
		    bottom: -25%;
		    width: 73%;
			}
		}
	}
}
@keyframes showNewSequence{
	0%{
		bottom:-100%;
	}
	65%{
		bottom:5%;
	}
	85%{
		bottom: -2%;
	}

	100%{
		bottom:0;
	}
}

@keyframes animationToGoAway{
	0%{
		bottom:0%;
	}
	100%{
		bottom:100%
	}
}

@keyframes checkAnimationColor{
	0%{
		
	}
	60%{
		right: 60%;
	}
	70%{
		right: 40%;
	}
	80%{
		right:50%;
		transform: translate(50%,-50%) rotate(0deg);
	}
	85%{
		transform: translate(50%,-50%) rotate(-20deg);
		font-size: 1.5em;
	}
	90%{
		transform: translate(50%,-50%) rotate(20deg);
		font-size: 0.8em;
	}
	95%{
		transform: translate(50%,-50%) rotate(-10deg);
		font-size: 1.2em;
	}
	100%{
		right:50%;
    font-size: 22px;
		transform: translate(50%,-50%) rotate(0deg);
	}
}
.container-game{
	background: url(../assets/images/bg.jpg) no-repeat center;
	background-size:cover;
	width:100vw;
	height:100vh;
	.timing-left{
		position:absolute;
		top:0;
		width: 100%;
		left: 0;
		right:0;
		height: 40px;
    background: url(../assets/images/first-world/time_bar.png) no-repeat top left;
    background-size: 100vw;
		animation: timingAnimation;
		animation-timing-function: linear;
		i{
			animation: timingIconPulse 4s infinite;
			color:#fff;
		}
	}
	.sequence-section{
		font-family: "Andrea";
		color:#fff;
		position: absolute;
		top: 10px;
		font-size: 32px;
		right: 0;
		z-index: 20;
		padding: 5px;
		border-radius: 0 0 0 4px;
	}
	.points-section{
		font-family: "Andrea";
		color:#fff;
		position: absolute;
		top: 20px;
		font-size: 35px;
		opacity: 0.7;
		left: 0;
		z-index: 20;
		padding: 5px;
		border-radius: 0 0 4px 0;
	}
}
@keyframes timingIconPulse{
	0%{
		transform:scale(1,1) rotate(0deg);
	}
	40%{
		transform:scale(1.2,1.2) rotate(360deg);
	}
	80%{
		transform:scale(1.05,1.05) rotate(520deg);
	}
	100%{
		transform:scale(1,1) rotate(720deg);
	}
}
@keyframes timingAnimation {
	0%{
		width:100%;
	}
	100%{
		width: 0%;
	}
}
.keyboard{
	display:flex;
	position: absolute;
	bottom:0;
  flex-wrap: wrap;
  left: 0;
  right:0;
  justify-content: center;
	.button{
    box-sizing:border-box;
    margin: 0.5%;
		width: 19vw;
		height: 19vw;
		border-radius: 10%;
		//Se lo attivi non funziona il pulse. poco male.. Non era fondamentale
		// &:after{
		// 	content:" ";
		// 	display: block;
		// 	position: absolute;
		// 	top:0;
		// 	bottom:0;
		// 	left: 0;
		// 	right: 0;
	 //    border-radius: 10%;
	 //    z-index: 1;
		// 	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,.2) 160%); 
		// }

		&.pulse{
			animation: pulseButtonAnimation 0.15s;
		}
	}
}

@keyframes pulseButtonAnimation{
	0%,100%{
		transform: scale(1,1) rotate(0deg);
	}
	50%{
		transform: scale(0.8,0.8) rotate(10deg);
	}
}

.finishGame{
	text-align:center;
	display:flex;
	// align-items:center;
	color:#fff;
	background:#07a;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right: 0;
	z-index:100;
  flex-direction: column;
}