<div class="container container-level">
  {{classic.title}}
  <ul class="levels">
    <li ng-repeat="level in classic.levels">
      <a href="#/kipli-game/{{level.level}}">
        {{level.level}}
      </a>
    </li>
  </ul>
</div>
