/* Do not remove the comments below. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

html {
    -webkit-user-select: none;
}

*:not(input,textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Disable selection/Copy of UIWebView */
}

body{
  font-family: "Lato",helvetica;
  padding: 0;
  margin: 0;
}
@font-face {
    font-family: 'andreanormal';
    src: url('andrea-normal-webfont.eot');
    src: url('../assets/fonts/andrea-normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/andrea-normal-webfont.woff2') format('woff2'),
         url('../assets/fonts/andrea-normal-webfont.woff') format('woff'),
         url('../assets/fonts/andrea-normal-webfont.ttf') format('truetype'),
         url('../assets/fonts/andrea-normal-webfont.svg#andreanormal') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'andreanormal';
    src: url('andrea-normal-webfont.eot');
    src: url('../assets/fonts/andrea-normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/andrea-normal-webfont.woff2') format('woff2'),
         url('../assets/fonts/andrea-normal-webfont.woff') format('woff'),
         url('../assets/fonts/andrea-normal-webfont.ttf') format('truetype'),
         url('../assets/fonts/andrea-normal-webfont.svg#andreanormal') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
