.kipli{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
	&:after{//body
		transition: all .5s;
		left: -15%;
		right: 15%;
		top:-10%;
		position:absolute;
		width: 130%;
		height: 120%;
		content: " ";
		background-size:cover;
		display: block;
		z-index: 0;
	}
	.eyes-nose{
		z-index: 90;
    width: 50%;
    height: 20%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    animation-name: eyesPositionAnimation;
    animation-iteration-count: infinite;
    animation-duration:5s;
		.eye{
			overflow: hidden;
			content:" ";
			display: block;
			background: radial-gradient(ellipse at center, #FFFFFF 51%, #BBB 100%);
			position: absolute;
	    width: 50%;
	    height: 0;
	    padding-bottom: 50%;
			border-radius: 50%; 
			left: -10%; //left;
			+.eye{
				left: auto;
				right:-10%; //right
			}
			&:after{ //robetto nero;
				position: absolute;
				width: 34%;
				height: 34%;
				left: 50%;
				top:45%;
				transform:translate(-50%,-50%);
				background:#000;
				content: " ";
				border-radius:50%;
				z-index: 20;
				animation: pupillAnimationX 5s infinite,pupillAnimationY 9s infinite; 
			}
			&:before{
				transition: all .5s;
				display: block;
				content:" ";
				z-index: 30;
				position: absolute;
				top:0;
				bottom:0;
				left:0%;
		    right: 0%;
		    border-radius: 0 0 120% 110%;
				background: #000; //da settare
				animation: eyeAnimation 5s infinite; 
			}
		}
		&:after{ //nose
			top:100%;
			width: 20%;
			padding-bottom:20%;	
		}
	}
	.mouth{
    animation-name: eyesPositionAnimation;
    animation-iteration-count: infinite;
    animation-duration: 5s;
		bottom:25%;
		left: 50%;
		position: absolute;
		transform: translate(-50%,0);
		background: url(../assets/images/kipli-one/mouth-angry.png) no-repeat;
    z-index: 90;
    background-size: cover;
		width: 20%;
		height: 20%;
		&:after{
			content:" ";
			display: block;
		}
	}
	&.selected{
		animation: kipliSelectedAnimation .8s;
		&:after, & *{
			animation: none !important;
		}
		.eyes-nose .eye:after{ //robetto nero;
			animation:none !important;
			width: 40%;
			height: 40%;
		}
		.mouth{
			background: url(../assets/images/kipli-one/mouth-sad.png) no-repeat;
		}
	}
	&.killed{
		&:after{
	    height: 120%;
	    width: 120%;
	    top: -10%;
	    left: -10%;
		}
		&:after, & *{
			animation: none !important;
		}
		.eyes-nose .eye:after{ //robetto nero;
			animation:none !important;
			width: 40%;
			height: 40%;
		}
		.eyes-nose .eye{
			&:before{ //pupilla
		    border-radius: 0 0 50% 50%;
		    animation: none;
		    bottom: 30%;
			}
		}
		.mouth{
			background: url(../assets/images/kipli-one/mouth-sad.png) no-repeat;
		}		
	}
}
.kipli-one{
	$animationTimeLeftRight : 5s;
	&:after{//body
		background: url(../assets/images/kipli-one/base.png) no-repeat;
		background-size:cover;
	}
	.eyes-nose{
    animation-duration:$animationTimeLeftRight;
		.eye{
			background: radial-gradient(ellipse at center, #FFFFFF 51%, #BBB 100%);
	    width: 50%;
	    padding-bottom: 50%;
			left: -10%; //left;
			+.eye{
				left: auto;
				right:-10%; //right
			}
			&:after{ //robetto nero;
			}
			&:before{ //pupilla
		    border-radius: 0 0 120% 110%;
				background: linear-gradient(to bottom,  #009bdb 20%, #26c2f0 100%);
				animation-duration: $animationTimeLeftRight;
			}
		}
		&:after{ //nose
		}

		.mouth{
	    animation-duration: 5s;
			background: url(../assets/images/kipli-one/mouth-angry.png) no-repeat;
	    background-size: cover;
		}

	}
}

.kipli-two{
	$animationTimeLeftRight : 7s;
	&:after{//body
		background: url(../assets/images/kipli-one/base-two.png) no-repeat;
		background-size:cover;
	}
	.eyes-nose{
    animation-duration:$animationTimeLeftRight;
		.eye{
			background: radial-gradient(ellipse at center, #FFFFFF 51%, #BBB 100%);
	    width: 50%;
	    padding-bottom: 50%;
			left: -10%; //left;
			+.eye{
				left: auto;
				right:-10%; //right
			}
			&:after{ //robetto nero;#feea2b, 30%, #FFFFFF 31%
				background: radial-gradient(ellipse at center, #000 40%, #feea2b 41%,#feea2b 100%);
				width: 70%;
				height: 70%
			}
			&:before{ //pupilla
		    border-radius: 0 0 120% 110%;
				background: linear-gradient(to bottom,  #893e94 20%, #a670ad 100%);
				animation-duration: $animationTimeLeftRight*2;
			}
		}
		&:after{ //nose
		}


	}
	.mouth{
    animation-duration: $animationTimeLeftRight;
		background: url(../assets/images/kipli-one/mouth-happy.png) no-repeat;
    width: 40%;
    background-size: 100%;
    bottom: 20%;
	}
	&.selected{
		.mouth{
			width: 20%;
		}
	}
}

.kipli-three{
	$animationTimeLeftRight : 7s;
	&:after{//body
		background: url(../assets/images/kipli-one/base-three.png) no-repeat;
		background-size:cover;
	}
	.eyes-nose{
    // animation-duration:$animationTimeLeftRight;
    animation:none;
		.eye{
			background: radial-gradient(ellipse at center, #FFFFFF 51%, #BBB 100%);
	    width: 50%;
	    padding-bottom: 50%;
			left: -10%; //left;
			+.eye{
				left: auto;
				right:-10%; //right
				&:before{ //pupilla
					border-radius: 0 0 30% 120%;
				}
			}
			&:after{ //robetto nero;#feea2b, 30%, #FFFFFF 31%
				background: radial-gradient(ellipse at center, #000 40%, #feea2b 41%,#feea2b 100%);
				width: 70%;
				height: 70%;
				animation:none;
				top: 65%;
			}
			&:before{ //pupilla
		    border-radius: 0 0 120% 110%;
				background: linear-gradient(to bottom, #d8242f 20%, #ef745a 100%);
				animation:none;
				bottom:60%;
				animation: puillAnimationThree 5s infinite;
				border-radius: 0 0 120% 30%;
				// animation-duration: $animationTimeLeftRight*2;
			}
		}
		&:after{ //nose
		}


	}
	.mouth{
		display: none;
	}
	&.selected{
	}
}

@keyframes puillAnimationThree{
	0%,10%,80%,100%{
		bottom:60%;
	}
	8%,95%{
		bottom:-30%;
	}
}

.kipli-four{
	$animationTimeLeftRight : 7s;
	&:after{//body
		background: url(../assets/images/kipli-one/base-four.png) no-repeat;
		background-size:cover;
		top:-20%;
		height: 140%
	}
	.eyes-nose{
		top:10%;
		animation: none;
    // animation-duration:$animationTimeLeftRight;
		.eye{
			background: radial-gradient(ellipse at center, #FFFFFF 51%, #BBB 100%);
	    width: 50%;
	    padding-bottom: 50%;
			left: -10%; //left;
			+.eye{
				left: auto;
				right:-10%; //right
			}
			&:after{ //robetto nero;#feea2b, 30%, #FFFFFF 31%
				background: radial-gradient(ellipse at center, #000 40%, #a1d7ce 41%,#5fa89c 100%);
				width: 70%;
				height: 70%
			}
			&:before{ //pupilla
		    border-radius: 0 0 120% 110%;
				background: linear-gradient(to bottom,  #c0d9dd 20%, #728d94 100%);
				animation-duration: $animationTimeLeftRight*2;
			}
		}
		&:after{ //nose
		}


	}
	.mouth{
		animation: none;
    // animation-duration: $animationTimeLeftRight;
		background: url(../assets/images/kipli-one/mouth-happy.png) no-repeat;
    width: 40%;
    background-size: 100%;
    bottom: 20%;
	}
	&.selected{
		.mouth{
			width: 20%;
		}
	}
}

.kipli-five{
	$animationTimeLeftRight : 4s;
	&:after{//body
		height: 140%;
		bottom:-20%;
		background: url(../assets/images/kipli-one/base-five.png) no-repeat;
		background-size:cover;
	}
	.eyes-nose{
    animation-duration:$animationTimeLeftRight;
		.eye{
			background: radial-gradient(ellipse at center, #FFFFFF 51%, #BBB 100%);
	    width: 60%;
	    padding-bottom: 60%;
			left: -10%; //left;
			+.eye{
				left: auto;
				right:-10%; //right
				&:before{ //pupilla
		  	  border-radius: 0 0 130% 20%;
				}
			}
			&:after{ //robetto nero;#feea2b, 30%, #FFFFFF 31%
				background: radial-gradient(ellipse at center, #000 40%, #feea2b 41%,#feea2b 100%);
				width: 70%;
				height: 70%
			}
			&:before{ //pupilla
				animation:none;
				bottom:50%;
		    border-radius: 0 0 20% 130%;
				background: linear-gradient(to bottom,  #bad98e 20%, #87bf53 100%);
				// animation-duration: $animationTimeLeftRight*2;
			}
		}
		&:after{ //nose
		}


	}
	.mouth{
    animation-duration: $animationTimeLeftRight;
		background: url(../assets/images/kipli-one/mouth-angry.png) no-repeat;
		background-size:cover;
	}
	&.selected{
		.mouth{
			width: 20%;
		}
	}
}
@keyframes eyesPositionAnimation{
	0%,100%{
		left:40%;
	}
	50%{
		left: 60%
	}
}

@keyframes eyeAnimation{
	0%,5%,100%{
		bottom:100%
	}
	4%{
		bottom:0;
	}
}
@keyframes pupillAnimationX{
	0%,100%{
		left: 20%;
	}
	25%,75%{
	}
	50%{
		left: 75%;
	}
}
@keyframes pupillAnimationY{
	0%,100%{
		top:40%;
	}
	25%,75%{
		top:65%;
	}
}
@keyframes kipliSelectedAnimation{
	0%,100%{
		transform: rotate(0deg) scale(1,1);
	}
	20%{
		transform: rotate(-10deg) scale(0.9,0.8);
	}
	40%{
		transform: rotate(15deg) scale(1.2,1.1);
	}
	60%{
		transform: rotate(-10deg) scale(1,1.1);
	}
	80%{
		transform: rotate(5deg) scale(0.9,1);
	}
	// 80%{
	// 	transform: rotate(-15deg) scale(0.9,0.9);
	// }
}

