<div ng-repeat='kipli in monsters.kiplis' ng-click="monsters.changeStauts(kipli)">
	<div class="kipli kipli-{{kipli.className}} {{kipli.status}}" >
		<div class="eyes-nose">
			<div class="eye"></div>
			<div class="eye"></div>
		</div>
		<div class="mouth">
		</div>
	</div>
</div>

<h1>Kipli</h1>
<kipli status="" name="one"></kipli>