<div class="container container-kipli-game">
  <div class="timing-left" style="animation-duration: {{ game.time / 1000 }}s">
    <!-- <i class="fa fa-clock-o fa-3x"></i>   -->
  </div>
  <div class="points-section">
    {{game.points}}
  </div>
  <div class="sequence-section">
    {{ ( game.sequenceToDo - game.totalSequences ) * -1}} / {{game.totalSequences}}
  </div>
  <div class="row row-sequences-kiplis">
    <div class="sequence position-{{sequence.position}}"
      ng-repeat="sequence in game.sequences"
      style="animation-duration: .5s, {{game.sequenceAnimationDuration}}s;animation-delay: 0s,{{game.sequenceDelayAnimation}}s"
      ng-click="game.selectSequence(sequence)"
      ng-class="{'selected' : game.sequenceSelected.id == sequence.id}">
      <kipli class="color" ng-repeat="kipli in sequence.kiplis" name="{{kipli.kipliName}}" status="{{game.checkKipliStatus(kipli,sequence)}}">
      </kipli>
    </div>    
  </div>
  <div class="keyboard">
    <kipli 
      ng-repeat="kipli in game.kiplis"
      name="{{kipli.kipliName}}" 
      class="button"
      ng-click="game.touchTheButton(kipli)"
      ng-class="{ pulse : kipli.isPulsing }"
      >
    </kipli>
  </div>
</div>
<div class="finishGame" ng-show="game.gameFinished == true">
  <h2>Il gioco è finito</h2>
  <h4>{{game.percentualPoints * 100}} %</h4>
  <h5>Punti che hai fatto {{game.points}}</h5>
  <h5>Punti che potevi fare {{game.maxPoints}}</h5>
  <p>
    {{game.message}}
  </p>
  
  <span ng-click="game.restartGame()">Start New Game</span>

</div>
